picture {
  display: block;
  padding-bottom: 4rem;
}

button {
  background: none;
  border: none;
  bottom: 0;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, 50%);
}

@media (min-width: 1280px) {
  picture {
    padding-bottom: 4.5rem;
  }
}
